header {
    padding: 10px 30px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    background-color: #4da5ff;
}

header h2 {
    padding: 0;
}

.navbar ul {
    display: flex;
    list-style: none;
    color: black;
    text-align: center;
    justify-content: space-between;
}

.navbar ul li {
    text-decoration: none;
    padding: 3px 5px;
    margin: 0 5px;
}

header a {
    text-decoration: none;
    color: black;
}